h1{
    color: blue;
}
h2{
    display: inline;
    margin: 20px;
    color: black;
}
.logo{
    width: 20%;
}
/* #nav{
    display: "flex"!important;
    text-align: "right" !important;
    justify-content:"flex-end";
    margin-Right:"150px";
    margin:"-55px";
} */
.navbar-expand-lg{
    display: flex;
    justify-content: flex-end !important;
    margin-left: 850px;
    margin-top: -45px;
    padding: 20px;
}
.addCarrito{
    margin: 2px;
    background-color: rgb(135, 195, 245);
    color: black;
    border-radius: 20px;
    padding: 2px;
}