*{ padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }

#Logo svg{
    height: 50px !important;
    color: rgb(107, 124, 180) !important;
}
#basic-navbar-nav{
    padding: 20px;
}
#basic-navbar-nav a{
    padding: 5px;
    text-decoration: none;
    color: rgba(71, 69, 69, 0.445);
    height: 5px;
}
#basic-navbar-nav a:hover{
    color: black;
}
#Carrito svg{
    margin-top: 10px;
    height: 45px;
    color: rgb(68, 43, 209);
}

.addCarrito{
    margin: 2px;
    background-color: rgb(135, 195, 245);
    color: black;
    border-radius: 20px;
    padding: 2px;
}
img {
    max-width: 100% !important;
  }
.btn-primary{
    margin-top: 10px;
}    
.add-button{
    outline: none;
    padding: 10px 20px;
    border: none;
    }
.stock-button{
    background-color: #00a8ff}
.add-button-count{
    padding: 0px 25px}
    